body {
    background-color: #3F4FA2;
}

h1{
    margin: 2rem;
    text-align: center;
}

#choices {
    width: 350px;
    margin: auto;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    align-self: center;
    margin-top: 5rem;
    padding-bottom: 5rem;
}

.icon {
    margin: 10px;
    border: solid 2px white;
    border-radius: 5px;
    padding: 5px;
}

#categories{
    background-color: #3F4FA2;
    border-radius: 10px;
    height: 350px;
    padding-left: 2rem;
    padding-top: 3rem;
}
