body {
    text-align: center;
    background-color: #3F50A2;
    background-image: url(landscape.png);
    background-size: cover;
}

h1 {
    font-family: Georgia;
}

#story {
    width: 700px;
    padding: 1rem;
    margin: auto;
}

.about {
    width: 900px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}

#vid { 
    height: 400px;
    width: 800px;
    margin: auto;
    margin-top: 0px;
    padding-top: 0px;
}

.btn {
    background-color: #3F50A2;
    border-radius: 10px;
    color: white;
    border: 2px solid rgb(57, 57, 57);
    box-shadow: 2px 2px 0px 0px black;
}

/* Login Card css */
.login_card {
    background-color: white;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    z-index: 99;
    position: absolute;
    right: 40%;
    top: 10%;
    width: 250px;
    color: #F27DAD;
}

form {
    display: grid;
}

#remember {
    display: flex;
    font-size: 10px;
}

#signup {
    display: none;
    background-color: white;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    z-index: 99;
    position: absolute;
    right: 40%;
    top: 10%;
    width: 250px;
    color: #F27DAD;
}

.trans {
    position: fixed;
    z-index: 50;
    border: none;
    margin: 0;
    width:100vh;
}

.sub {
    background-color: #F27DAD;
    color: white;
    width: 60px;
    border-radius: 50px;
    border: none;
    justify-self: center;
    margin: 1rem;
    box-shadow: 5px 5px 10px #3F4FA2 ;
}

.sign {
    color: #EF5D4E;
    border: none;
    border-radius: 50px;
}

#home {
    width: 250px;
    height: auto;
    position: absolute;
    left: 5px;
}

.phone {
    display: none;
}

#signup h1 {
    color: #F27DAD;
}

#signup p {
    color: #F27DAD;
}


@media only screen and (max-width: 768px) {
    body{
        background-image: url(portrait.png);
        background-size: 600px;
    }
    .desktop {
        display: none;
    }

    .phone{
        display: block;
    }

    .phone_card {
        width: 500px;
        margin: auto;
        margin-top: 5rem;
    }

    .phone_card h1{
        color: white;
        padding: 1rem;
        font-family: Georgia, Verdana, sans-serif;
    }
    
    .phone_logo {
        width: 300px;
    }
    
    .BG_logo {
        height: 300px;
        width: auto;
        padding: 1rem;
    }

    .start {
        background-color: white;
        border-radius: 20px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 0px;
        padding-right: 0px;
        width: 10rem;
        font-size: xx-large;
        margin: auto;
        color: #3F4FA2;
    }

    .profile_button {
        background-color: #EF5D4E;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-radius: 20px;
        margin: auto;
        margin-top: 2rem;
        font-size: xx-large;
        color: white;
        width: 10rem;
    }

.login_card{
    position: absolute;
    left: 50px;
    width: 250px;
    height: 500px;
}

#signup{
   position: absolute;
    left: 50px;
    width: 250px;
    height: 500px;
}

form{
    width: 200px;
    margin: auto;
}

nav{
    display: none
}

.main_body {
    display: none;
}

.sparky_nav{
    display: none;
}
}