body {
    text-align: center;
    background-color: #3F50A2;
}

#story {
    width: 500px;
    padding: 1rem;
}

.about {
    margin: auto;
    background-color: white;
}

.btn {
    background-color: #3F50A2;
    border-radius: 10px;
    color: white;
    border: 2px solid rgb(57, 57, 57);
    box-shadow: 2px 2px 0px 0px black;
}

/* Login Card css */
.login_card {
    background-color: #F27DAD;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    z-index: 99;
    position: absolute;
    right: 40%;
    top: 10%;
}

form {
    display: grid;
}

#signup {
    display: none;
    background-color: #F27DAD;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    z-index: 99;
    position: absolute;
    right: 40%;
    top: 10%;
}

.trans {
    position: fixed;
    z-index: 50;
    border: none;
    margin: 0;
    width:100vh;
}

.sub {
    background-color: #3F50A2;
    color: white;
    width: 60px;
    border-radius: 10px;
    justify-self: center;
    margin: 1rem;
}

.sign {
    background-color: #3F50A2;
    color: white;
    border-radius: 10px;
}

.about {
    border: 2px solid #F27DAD;
    border-radius: 10px;
    margin-left: 25%;
}

.phone {
    display: none;
}

@media only screen and (max-width: 768px) {
body {
 display: flex;   
}
    .desktop {
        display: none;
    }

    .phone{
        display: block;
    }

    .phone_card {
        background-color: #F27DAD;
        margin-left: 5rem;
        margin-right: 2rem;
        border-radius: 10px;
        margin-top: 5rem;
    }

    .phone_card h1{
        font-style: bold ;
    }
    .BG_logo {
        opacity: 50%;
        height: 200px;
        width: auto;
        right: 10rem;
    }

    .start {
        background-color: white;
        border-radius: 10px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: none;
        padding-right: none;
        width: 10rem;
        font-size: xx-large;
        margin: auto;
        color: black;
    }

    .profile_button {
        background-color: #EF5D4E;
        margin: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-radius: 10px;
        margin-left: 5rem;
        margin-right: 2rem;
        font-size: xx-large;
        color: white;
    }

.login_card{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 0;
    right: 0;
}

#signup{
        position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 0;
    right: 0;
}

form{
    width: 300px;
    margin: auto;
}

.trans{
display: none;
}

nav{
    display: none
}

.main_body {
    display: none;
}

.sparky_nav{
    display: none;
}
}