body {
    margin: 0px;
    font-family: Verdana, Tahoma, sans-serif;
}

header{
    background-color: #F27DAD;
    box-shadow: 0px 2px #616161;
}

nav {
    display: flex;
    align-items: center;
}

#mid_nav{ 
    margin-left: 2.5rem;
    margin-right: 2rem;
}

.main_body {
    display: flex;
    margin-top: 50px;
}

.logo {
    height: 75px;
    float: left;
}

.icon {
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1rem;
}

#profile {
    font-size:large;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1rem;
}

.phone_nav {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.button_nav {

    padding: 1rem;

}

/*li {
    list-style-type: none;

}
*/

@media only screen and (max-width: 768px) {
header{
    display: none;
}

.phone_nav {
    display: block;
}

.sparky_nav {
    background-color: #EF5D4E;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin-top: 1rem;
    margin-left: 42%;
    padding: 1rem;
    position: absolute;
    z-index: 98;
}

.nav_list {
    display: none;
}

li {
    list-style: none;
}


}