body {
    margin: 0px;
    font-family: Verdana, Tahoma, sans-serif;
}

header{
    background-color: #F27DAD;
    box-shadow: 0px 2px #616161;
    display: flex;
}

nav {
    display: flex;
    align-items: center;
}


#mid_nav{ 
    display: flex;
    margin-left: 15rem;
    margin-right: 20rem;
}

.main_body {
    display: flex;
    margin-top: 50px;
}

.logo {
    height: 75px;
    float: left;
}

.icon {
    width: 60px;
    height: 60px;
}

#profile {
    font-size:large;
    border-radius: 5px;
    padding: 1rem;

}

.profile {
        width: 40px;
    height: 40px;
}

.phone_nav {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#lil_nav {
    display: none;
}

#nav_icon {
    display: none;
}

.tiny {
    font-size: 10px;
    margin: 0px;
    color: white;
    text-align: center;
    font-weight: lighter;
}


@media only screen and (max-width: 768px) {
header{
    display: none;
}
    .main_nav {
    display: none;
}

#phone_nav {
    display: block;
    z-index: 98;
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    right: 20px;
    top: 20px;
    border-radius: 500px;
}

#nav_icon {
    display: block;
    z-index: 99;
    margin-left: 80%;
    background-color: #F27DAD;
    border-radius: 100%;
}

#lil_nav {
    text-align: center;
    width: 200px;
    border-radius: 10px;
    background-color: white;
    padding: 1rem;
    margin:auto;

}

#nav_icon:focus #lil_nav {
    display: block;
    background-color: blue;
}


.nav_list {
    display: none;
}

.p_nav{
    list-style: none;
    color: orangered; 
    padding: 1rem;
}


}