@media only screen and (max-width: 768px) {
body { 
    background-color: #3F4FA2;
    width: 100%;
    height: auto;
    position: fixed;
}

.hobby_img {
    margin-left: 22%;
    margin-top: .25rem;
    border-radius: 10px;
    width: 250px;
}

.phone_card {
    position: absolute;
    width: 100%;
    height: auto;
    margin: auto;
}

#no {
    position: absolute;
    top: 200px;
    z-index: 99;
    opacity: 0;
}

#yes {
    position: absolute;
    top: 200px;
    z-index: 99;
    opacity: 0;
}


#cardContainer1 {
/* How to center element that is relavtive*/
    position: absolute;
    z-index: 88;
    background-color: white;
    padding-top: 5rem;
    margin-top: 2rem;
    justify-items: center;
    border-radius: 10px;
    padding-bottom: 1rem;
    transform-origin: bottom center;
}

#cardContainer2 {
    position: absolute;
    z-index: 87;
    background-color: white;
    padding-top: 5rem;
    margin-top: 2rem;
    justify-items: center;
    border-radius: 10px;
    padding-bottom: 1rem;
    transform-origin: bottom center;
}

#cardContainer3 {
    position: absolute;
    z-index: 86;
    background-color: white;
    padding-top: 5rem;
    margin-top: 2rem;
    justify-items: center;
    border-radius: 10px;
    padding-bottom: 1rem;
    transform-origin: bottom center;
}

#cardContainer4 {
    position: absolute;
    z-index: 85;
    background-color: white;
    padding-top: 5rem;
    margin-top: 2rem;
    justify-items: center;
    border-radius: 10px;
    padding-bottom: 1rem;
    transform-origin: bottom center;
}

#cardContainer5 {
    position: absolute;
    z-index: 84;
    background-color: white;
    padding-top: 5rem;
    margin-top: 2rem;
    justify-items: center;
    border-radius: 10px;
    padding-bottom: 1rem;
    transform-origin: bottom center;
}

#cardContainerFinal {
    position: absolute;
    z-index: 83;
    background-color: white;
    padding-top: 5rem;
    margin-top: 2rem;
    justify-items: center;
    border-radius: 10px;
    padding-bottom: 1rem;
    transform-origin: bottom center;
}

p {
    margin-left: 2rem;
    margin-right: 2rem;
}

.tags {
    display: flex;
}

.tag_img{
    height: 35px;
    width: 35px;
    border: 3px solid #F27DAD;
    margin: 1rem;
    background-color: #F27DAD;
    padding: 2rem;
}

#things {
    background-color: #F27DAD;
    padding: 10px;
    border-radius: 10px;

}

#sliderContainer {
    position: absolute;
    z-index: 99;
    width: 80%;
    height: 100%;
    margin-left: 2rem;
}

.range {
    appearance: none;
    outline: none;
    width: 100%;
    height: 600px;
    opacity: 0.01;
}
}