
#profile_card {
    width: 400px;
    height: 600px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    margin-top: 3rem;
}

#profile_img {
    display: flex;
}

#profile_img img{
       border: 2px solid #3F50A2;
       border-radius: 100px;
       padding: 1rem;
}

#small {
    width: 60px;
    height: 60px;
}

p{
    font-weight: bolder;
}

.highlight {
    color: #3F50A2;
}

#sub {
    background-color: #3F50A2;
    border-radius: 20px;
    color: white;
    width: 100px;
    margin-top: 2rem;
    margin-left: 6rem;
    border: none;
}

.current {
    display: flex;
}

@media only screen and (max-width: 768px) { 
body{
        background-image: url(portrait.png);
        background-size: 600px;
}

#profile_card {
    width: 200px;
    height: 600px;

}

.current {
    display: block;
}

}