
#profile_card {
    width: 200px;
    height: 600px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
}

#profile_img {
    display: flex;
}

#profile_img img{
       border: 2px solid #3F50A2;
       border-radius: 100px;
       padding: 1rem;
}

#small {
    width: 60px;
    height: 60px;
}

p{
    font-weight: bolder;
}

.highlight {
    color: #3F50A2;
}

