body {
    background: #FAFAFD;
    margin: 0px;
}

.desktop {
    margin: auto;
}

.slides {
   justify-items: center;
}

.hobby_slides img {
    height: 400px;
    width: auto;
    margin: 1rem;
}


/* .phone_card css*/

.card {
    background-color: blueviolet;
    max-width: 800px;
    max-height: auto;
    margin: 3rem;
    justify-items: center;
    border-radius: 5px;
    border: purple;
    display: none;
}

p {
    margin: 2rem;
}


@media only screen and (max-width: 768px) {

    .hobby_img {
    margin-left: 5%;
    margin-top: .25rem;
    max-width: 100%;
    max-height: auto;
    border-radius: 5px;
    }

    .card {
        display: block;
    }

    .desktop {
        display: none;
    }
}