body {
    background: #FAFAFD;
    margin: 0px;
}

.hobby_slides{
         display: flex;
         align-items: center;
         margin: auto;
         width: 800px;
/*         border: 2px solid black ;*/
}

.hobby_slides img {
    height: 400px;
    width: auto;
    margin: 1rem;
}

h2 {
    text-align: center;
    margin: 1rem;
}

p {
    margin-left: 2rem;
    margin-right: 2rem;
}

#sliderContainer {
    position: absolute;
    z-index: 99;
    width: 80%;
    height: 50%;
    margin-top: 100px;
    margin-left: 2rem;
}

.yes_info_no {
    display: flex;
    width: 200px;
    margin: auto;
 /*   border: 2px solid black;*/
}