body {
    background: #FAFAFD;
    margin: 0px;
}

.hobby_card{
         display: flex;
         align-items: center;
         margin: auto;

         border: 2px solid black ;
}

.hobby_card img {
    height: 400px;
    width: auto;
    margin: 1rem;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin: 1rem;
}

p {
    margin-left: 2rem;
    margin-right: 2rem;
}

.slides {
    margin-left: 2rem;
}

.yes_info_no {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    margin-top: 500px;
    border: 2px solid black;
   
}

button {
    width: 50px;
    height: 50px;
    margin-left: 2rem;
    border-radius: 10px;
    border: none;
    font-size: x-large;
}

#no {
    background-color: red;
}

#yes {
    background-color: green;
}

#hobbyCard1 {
    position: absolute;
    background-color: blueviolet;
}

#hobbyCard2 {
    position: absolute;    
    background-color: pink;
}

#hobbyCard3 {
    position: absolute;    
    background-color: orange;
}

#hobbyCard4 {
    position: absolute;  
    background-color: lightblue;  

}
#hobbyCard5 {
    position: absolute;  
    background-color: purple;  
   
}

#finalCard {
    position: absolute;
    background-color: yellow;

}